.img {
  height: 30px;
  width: 30px;
  
}

.nombreCryto {

  position: relative;
  bottom: 10px;
  left: 30px;
  color: #B8BDBA;

}

.divCryto {
  position: relative;
  left: 30px;
  top: 10px;
  
}

.simbolo {
  position: relative;
  bottom: 10px;
  left: 20px;
  font-size: 30px;
}

th {
  background-color: #171515;
  color: #fff;
  font-weight: bold;
  font-size:50px;

}

td {
  background-color: #777180;
  color: #fff;
  font-weight: bold;

}

.selector {
  width: 200px;
  background-color: black;
  color: black;
  font-size: 25px;
} 

tr {
  font-size:40px;
}

.title {
  font-size:50px;


}

